In [2]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv')
bigmac

       Date         Country  Price in US Dollars
0    1/2016       Argentina                 2.39
1    1/2016       Australia                 3.74
2    1/2016          Brazil                 3.35
3    1/2016         Britain                 4.22
4    1/2016          Canada                 4.14
5    1/2016           Chile                 2.94
6    1/2016           China                 2.68
7    1/2016        Colombia                 2.43
8    1/2016      Costa Rica                 4.02
9    1/2016  Czech Republic                 2.98
10   1/2016         Denmark                 4.32
11   1/2016           Egypt                 2.16
12   1/2016       Euro area                 4.00
13   1/2016       Hong Kong                 2.48
14   1/2016         Hungary                 3.08
15   1/2016           India                 1.90
16   1/2016       Indonesia                 2.19
17   1/2016          Israel                 4.29
18   1/2016           Japan                 3.12
19   1/2016        Malaysia                 1.82
20   1/2016          Mexico                 2.81
21   1/2016     New Zealand                 3.91
22   1/2016          Norway                 5.21
23   1/2016        Pakistan                 2.86
24   1/2016            Peru                 2.93
25   1/2016     Philippines                 2.79
26   1/2016          Poland                 2.37
27   1/2016          Russia                 1.53
28   1/2016    Saudi Arabia                 3.20
29   1/2016       Singapore                 3.27
..      ...             ...                  ...
622  1/2010       Hong Kong                 1.91
623  1/2010         Hungary                 3.86
624  1/2010       Indonesia                 2.24
625  1/2010          Israel                 3.99
626  1/2010           Japan                 3.50
627  1/2010          Latvia                 3.09
628  1/2010       Lithuania                 2.87
629  1/2010        Malaysia                 2.08
630  1/2010          Mexico                 2.50
631  1/2010     New Zealand                 3.61
632  1/2010          Norway                 7.02
633  1/2010        Pakistan                 2.42
634  1/2010            Peru                 2.81
635  1/2010     Philippines                 2.21
636  1/2010          Poland                 2.86
637  1/2010          Russia                 2.34
638  1/2010    Saudi Arabia                 2.67
639  1/2010       Singapore                 3.19
640  1/2010    South Africa                 2.46
641  1/2010     South Korea                 2.98
642  1/2010       Sri Lanka                 1.83
643  1/2010          Sweden                 5.51
644  1/2010     Switzerland                 6.30
645  1/2010          Taiwan                 2.36
646  1/2010        Thailand                 2.11
647  1/2010          Turkey                 3.83
648  1/2010             UAE                 2.99
649  1/2010         Ukraine                 1.83
650  1/2010   United States                 3.58
651  1/2010         Uruguay                 3.32

[652 rows x 3 columns]

Note: Looking at the dataset, we see the date column should be parsed into date type so we'll do that while importing the dataframe itself

In [4]:
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'])
bigmac

          Date         Country  Price in US Dollars
0   2016-01-01       Argentina                 2.39
1   2016-01-01       Australia                 3.74
2   2016-01-01          Brazil                 3.35
3   2016-01-01         Britain                 4.22
4   2016-01-01          Canada                 4.14
5   2016-01-01           Chile                 2.94
6   2016-01-01           China                 2.68
7   2016-01-01        Colombia                 2.43
8   2016-01-01      Costa Rica                 4.02
9   2016-01-01  Czech Republic                 2.98
10  2016-01-01         Denmark                 4.32
11  2016-01-01           Egypt                 2.16
12  2016-01-01       Euro area                 4.00
13  2016-01-01       Hong Kong                 2.48
14  2016-01-01         Hungary                 3.08
15  2016-01-01           India                 1.90
16  2016-01-01       Indonesia                 2.19
17  2016-01-01          Israel                 4.29
18  2016-01-01           Japan                 3.12
19  2016-01-01        Malaysia                 1.82
20  2016-01-01          Mexico                 2.81
21  2016-01-01     New Zealand                 3.91
22  2016-01-01          Norway                 5.21
23  2016-01-01        Pakistan                 2.86
24  2016-01-01            Peru                 2.93
25  2016-01-01     Philippines                 2.79
26  2016-01-01          Poland                 2.37
27  2016-01-01          Russia                 1.53
28  2016-01-01    Saudi Arabia                 3.20
29  2016-01-01       Singapore                 3.27
..         ...             ...                  ...
622 2010-01-01       Hong Kong                 1.91
623 2010-01-01         Hungary                 3.86
624 2010-01-01       Indonesia                 2.24
625 2010-01-01          Israel                 3.99
626 2010-01-01           Japan                 3.50
627 2010-01-01          Latvia                 3.09
628 2010-01-01       Lithuania                 2.87
629 2010-01-01        Malaysia                 2.08
630 2010-01-01          Mexico                 2.50
631 2010-01-01     New Zealand                 3.61
632 2010-01-01          Norway                 7.02
633 2010-01-01        Pakistan                 2.42
634 2010-01-01            Peru                 2.81
635 2010-01-01     Philippines                 2.21
636 2010-01-01          Poland                 2.86
637 2010-01-01          Russia                 2.34
638 2010-01-01    Saudi Arabia                 2.67
639 2010-01-01       Singapore                 3.19
640 2010-01-01    South Africa                 2.46
641 2010-01-01     South Korea                 2.98
642 2010-01-01       Sri Lanka                 1.83
643 2010-01-01          Sweden                 5.51
644 2010-01-01     Switzerland                 6.30
645 2010-01-01          Taiwan                 2.36
646 2010-01-01        Thailand                 2.11
647 2010-01-01          Turkey                 3.83
648 2010-01-01             UAE                 2.99
649 2010-01-01         Ukraine                 1.83
650 2010-01-01   United States                 3.58
651 2010-01-01         Uruguay                 3.32

[652 rows x 3 columns]

In [6]:
bigmac.dtypes # Every column seems to be of the correct data type now

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

**Create a MultiIndex with the set_index() Method**

In [7]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'])
bigmac

          Date         Country  Price in US Dollars
0   2016-01-01       Argentina                 2.39
1   2016-01-01       Australia                 3.74
2   2016-01-01          Brazil                 3.35
3   2016-01-01         Britain                 4.22
4   2016-01-01          Canada                 4.14
5   2016-01-01           Chile                 2.94
6   2016-01-01           China                 2.68
7   2016-01-01        Colombia                 2.43
8   2016-01-01      Costa Rica                 4.02
9   2016-01-01  Czech Republic                 2.98
10  2016-01-01         Denmark                 4.32
11  2016-01-01           Egypt                 2.16
12  2016-01-01       Euro area                 4.00
13  2016-01-01       Hong Kong                 2.48
14  2016-01-01         Hungary                 3.08
15  2016-01-01           India                 1.90
16  2016-01-01       Indonesia                 2.19
17  2016-01-01          Israel                 4.29
18  2016-01-01           Japan                 3.12
19  2016-01-01        Malaysia                 1.82
20  2016-01-01          Mexico                 2.81
21  2016-01-01     New Zealand                 3.91
22  2016-01-01          Norway                 5.21
23  2016-01-01        Pakistan                 2.86
24  2016-01-01            Peru                 2.93
25  2016-01-01     Philippines                 2.79
26  2016-01-01          Poland                 2.37
27  2016-01-01          Russia                 1.53
28  2016-01-01    Saudi Arabia                 3.20
29  2016-01-01       Singapore                 3.27
..         ...             ...                  ...
622 2010-01-01       Hong Kong                 1.91
623 2010-01-01         Hungary                 3.86
624 2010-01-01       Indonesia                 2.24
625 2010-01-01          Israel                 3.99
626 2010-01-01           Japan                 3.50
627 2010-01-01          Latvia                 3.09
628 2010-01-01       Lithuania                 2.87
629 2010-01-01        Malaysia                 2.08
630 2010-01-01          Mexico                 2.50
631 2010-01-01     New Zealand                 3.61
632 2010-01-01          Norway                 7.02
633 2010-01-01        Pakistan                 2.42
634 2010-01-01            Peru                 2.81
635 2010-01-01     Philippines                 2.21
636 2010-01-01          Poland                 2.86
637 2010-01-01          Russia                 2.34
638 2010-01-01    Saudi Arabia                 2.67
639 2010-01-01       Singapore                 3.19
640 2010-01-01    South Africa                 2.46
641 2010-01-01     South Korea                 2.98
642 2010-01-01       Sri Lanka                 1.83
643 2010-01-01          Sweden                 5.51
644 2010-01-01     Switzerland                 6.30
645 2010-01-01          Taiwan                 2.36
646 2010-01-01        Thailand                 2.11
647 2010-01-01          Turkey                 3.83
648 2010-01-01             UAE                 2.99
649 2010-01-01         Ukraine                 1.83
650 2010-01-01   United States                 3.58
651 2010-01-01         Uruguay                 3.32

[652 rows x 3 columns]

Note: set_index() method, as seen in the past can take a string as input to the 'keys' parameter. It can also take a list of strings for that parameter value, which will create a multiindex dataframe. A multiindex dataframe can be seen as one having layers of index. The column name passed to 'keys' parameter first would be the outermost or the first layer, followed by the other column names passed in the list serving as second and third layer.

In [11]:
bigmac.set_index(keys='Country') # Single level index

                     Date  Price in US Dollars
Country
Argentina      2016-01-01                 2.39
Australia      2016-01-01                 3.74
Brazil         2016-01-01                 3.35
Britain        2016-01-01                 4.22
Canada         2016-01-01                 4.14
Chile          2016-01-01                 2.94
China          2016-01-01                 2.68
Colombia       2016-01-01                 2.43
Costa Rica     2016-01-01                 4.02
Czech Republic 2016-01-01                 2.98
Denmark        2016-01-01                 4.32
Egypt          2016-01-01                 2.16
Euro area      2016-01-01                 4.00
Hong Kong      2016-01-01                 2.48
Hungary        2016-01-01                 3.08
India          2016-01-01                 1.90
Indonesia      2016-01-01                 2.19
Israel         2016-01-01                 4.29
Japan          2016-01-01                 3.12
Malaysia       2016-01-01                 1.82
Mexico         2016-01-01                 2.81
New Zealand    2016-01-01                 3.91
Norway         2016-01-01                 5.21
Pakistan       2016-01-01                 2.86
Peru           2016-01-01                 2.93
Philippines    2016-01-01                 2.79
Poland         2016-01-01                 2.37
Russia         2016-01-01                 1.53
Saudi Arabia   2016-01-01                 3.20
Singapore      2016-01-01                 3.27
...                   ...                  ...
Hong Kong      2010-01-01                 1.91
Hungary        2010-01-01                 3.86
Indonesia      2010-01-01                 2.24
Israel         2010-01-01                 3.99
Japan          2010-01-01                 3.50
Latvia         2010-01-01                 3.09
Lithuania      2010-01-01                 2.87
Malaysia       2010-01-01                 2.08
Mexico         2010-01-01                 2.50
New Zealand    2010-01-01                 3.61
Norway         2010-01-01                 7.02
Pakistan       2010-01-01                 2.42
Peru           2010-01-01                 2.81
Philippines    2010-01-01                 2.21
Poland         2010-01-01                 2.86
Russia         2010-01-01                 2.34
Saudi Arabia   2010-01-01                 2.67
Singapore      2010-01-01                 3.19
South Africa   2010-01-01                 2.46
South Korea    2010-01-01                 2.98
Sri Lanka      2010-01-01                 1.83
Sweden         2010-01-01                 5.51
Switzerland    2010-01-01                 6.30
Taiwan         2010-01-01                 2.36
Thailand       2010-01-01                 2.11
Turkey         2010-01-01                 3.83
UAE            2010-01-01                 2.99
Ukraine        2010-01-01                 1.83
United States  2010-01-01                 3.58
Uruguay        2010-01-01                 3.32

[652 rows x 2 columns]

In [12]:
bigmac.set_index(keys='Date') # Single level index

                   Country  Price in US Dollars
Date
2016-01-01       Argentina                 2.39
2016-01-01       Australia                 3.74
2016-01-01          Brazil                 3.35
2016-01-01         Britain                 4.22
2016-01-01          Canada                 4.14
2016-01-01           Chile                 2.94
2016-01-01           China                 2.68
2016-01-01        Colombia                 2.43
2016-01-01      Costa Rica                 4.02
2016-01-01  Czech Republic                 2.98
2016-01-01         Denmark                 4.32
2016-01-01           Egypt                 2.16
2016-01-01       Euro area                 4.00
2016-01-01       Hong Kong                 2.48
2016-01-01         Hungary                 3.08
2016-01-01           India                 1.90
2016-01-01       Indonesia                 2.19
2016-01-01          Israel                 4.29
2016-01-01           Japan                 3.12
2016-01-01        Malaysia                 1.82
2016-01-01          Mexico                 2.81
2016-01-01     New Zealand                 3.91
2016-01-01          Norway                 5.21
2016-01-01        Pakistan                 2.86
2016-01-01            Peru                 2.93
2016-01-01     Philippines                 2.79
2016-01-01          Poland                 2.37
2016-01-01          Russia                 1.53
2016-01-01    Saudi Arabia                 3.20
2016-01-01       Singapore                 3.27
...                    ...                  ...
2010-01-01       Hong Kong                 1.91
2010-01-01         Hungary                 3.86
2010-01-01       Indonesia                 2.24
2010-01-01          Israel                 3.99
2010-01-01           Japan                 3.50
2010-01-01          Latvia                 3.09
2010-01-01       Lithuania                 2.87
2010-01-01        Malaysia                 2.08
2010-01-01          Mexico                 2.50
2010-01-01     New Zealand                 3.61
2010-01-01          Norway                 7.02
2010-01-01        Pakistan                 2.42
2010-01-01            Peru                 2.81
2010-01-01     Philippines                 2.21
2010-01-01          Poland                 2.86
2010-01-01          Russia                 2.34
2010-01-01    Saudi Arabia                 2.67
2010-01-01       Singapore                 3.19
2010-01-01    South Africa                 2.46
2010-01-01     South Korea                 2.98
2010-01-01       Sri Lanka                 1.83
2010-01-01          Sweden                 5.51
2010-01-01     Switzerland                 6.30
2010-01-01          Taiwan                 2.36
2010-01-01        Thailand                 2.11
2010-01-01          Turkey                 3.83
2010-01-01             UAE                 2.99
2010-01-01         Ukraine                 1.83
2010-01-01   United States                 3.58
2010-01-01         Uruguay                 3.32

[652 rows x 2 columns]

In [13]:
bigmac.set_index(keys=['Country', 'Date']) # MultiIndex dataframe

                           Price in US Dollars
Country        Date
Argentina      2016-01-01                 2.39
Australia      2016-01-01                 3.74
Brazil         2016-01-01                 3.35
Britain        2016-01-01                 4.22
Canada         2016-01-01                 4.14
Chile          2016-01-01                 2.94
China          2016-01-01                 2.68
Colombia       2016-01-01                 2.43
Costa Rica     2016-01-01                 4.02
Czech Republic 2016-01-01                 2.98
Denmark        2016-01-01                 4.32
Egypt          2016-01-01                 2.16
Euro area      2016-01-01                 4.00
Hong Kong      2016-01-01                 2.48
Hungary        2016-01-01                 3.08
India          2016-01-01                 1.90
Indonesia      2016-01-01                 2.19
Israel         2016-01-01                 4.29
Japan          2016-01-01                 3.12
Malaysia       2016-01-01                 1.82
Mexico         2016-01-01                 2.81
New Zealand    2016-01-01                 3.91
Norway         2016-01-01                 5.21
Pakistan       2016-01-01                 2.86
Peru           2016-01-01                 2.93
Philippines    2016-01-01                 2.79
Poland         2016-01-01                 2.37
Russia         2016-01-01                 1.53
Saudi Arabia   2016-01-01                 3.20
Singapore      2016-01-01                 3.27
...                                        ...
Hong Kong      2010-01-01                 1.91
Hungary        2010-01-01                 3.86
Indonesia      2010-01-01                 2.24
Israel         2010-01-01                 3.99
Japan          2010-01-01                 3.50
Latvia         2010-01-01                 3.09
Lithuania      2010-01-01                 2.87
Malaysia       2010-01-01                 2.08
Mexico         2010-01-01                 2.50
New Zealand    2010-01-01                 3.61
Norway         2010-01-01                 7.02
Pakistan       2010-01-01                 2.42
Peru           2010-01-01                 2.81
Philippines    2010-01-01                 2.21
Poland         2010-01-01                 2.86
Russia         2010-01-01                 2.34
Saudi Arabia   2010-01-01                 2.67
Singapore      2010-01-01                 3.19
South Africa   2010-01-01                 2.46
South Korea    2010-01-01                 2.98
Sri Lanka      2010-01-01                 1.83
Sweden         2010-01-01                 5.51
Switzerland    2010-01-01                 6.30
Taiwan         2010-01-01                 2.36
Thailand       2010-01-01                 2.11
Turkey         2010-01-01                 3.83
UAE            2010-01-01                 2.99
Ukraine        2010-01-01                 1.83
United States  2010-01-01                 3.58
Uruguay        2010-01-01                 3.32

[652 rows x 1 columns]

In [14]:
bigmac.set_index(keys=['Date', 'Country']) # MultiIndex dataframe

                           Price in US Dollars
Date       Country
2016-01-01 Argentina                      2.39
           Australia                      3.74
           Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98
           Denmark                        4.32
           Egypt                          2.16
           Euro area                      4.00
           Hong Kong                      2.48
           Hungary                        3.08
           India                          1.90
           Indonesia                      2.19
           Israel                         4.29
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
...                                        ...
2010-01-01 Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

[652 rows x 1 columns]

Note: As you can see how putting different columns first, second or even third would result in a different dataframe output. MAKE SURE TO ALWAYS PUT THE COLUMN WITH LESSER VALUES OR MOST REPEATING VALUES BEFORE THE REST OF THE COLUMNS. Basically, put columns in increasing order of unique values as layer of muktiindex dataframe.

Note: As per above logic, Date column should be the outer index or layer in this multiindex dataframe

In [16]:
bigmac.set_index(keys=['Date', 'Country'], inplace=True)
bigmac

                           Price in US Dollars
Date       Country
2016-01-01 Argentina                      2.39
           Australia                      3.74
           Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98
           Denmark                        4.32
           Egypt                          2.16
           Euro area                      4.00
           Hong Kong                      2.48
           Hungary                        3.08
           India                          1.90
           Indonesia                      2.19
           Israel                         4.29
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
...                                        ...
2010-01-01 Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

[652 rows x 1 columns]

Note: If apply sort_index() to this dataframe, it will first sort the outer index Date in ascending and then index Country in ascending

In [19]:
bigmac.sort_index(inplace=True)
bigmac

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
...                                        ...
2016-01-01 Italy                          4.30
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           Netherlands                    3.71
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Portugal                       3.23
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
           South Africa                   1.77
           South Korea                    3.59
           Spain                          3.76
           Sri Lanka                      2.43
           Sweden                         5.23
           Switzerland                    6.44
           Taiwan                         2.08
           Thailand                       3.09
           Turkey                         3.41
           UAE                            3.54
           Ukraine                        1.54
           United States                  4.93
           Uruguay                        3.74
           Venezuela                      0.66
           Vietnam                        2.67

[652 rows x 1 columns]

In [20]:
bigmac.index

MultiIndex(levels=[[2010-01-01 00:00:00, 2010-07-01 00:00:00, 2011-07-01 00:00:00, 2012-01-01 00:00:00, 2012-07-01 00:00:00, 2013-01-01 00:00:00, 2013-07-01 00:00:00, 2014-01-01 00:00:00, 2014-07-01 00:00:00, 2015-01-01 00:00:00, 2015-07-01 00:00:00, 2016-01-01 00:00:00], ['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Britain', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Euro area', 'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Russia', 'Saudi Arabia', 'Singapore', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine', 'United States', 'Uruguay', 'Venezuela', 'Vietnam']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11], [0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]],
           names=['Date', 'Country'])

In [21]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [22]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [27]:
bigmac.index[0]  # You can see how this returns a tupple or a record instead of a single value, so we need to pass two indices
                # to fetch a specific value

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

In [28]:
bigmac.index[0][1]

'Argentina'

**The .get_level_values() Method**

In [ ]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country']) # index_col has been used to create a multi
bigmac

In [32]:
bigmac.index

MultiIndex(levels=[[2010-01-01 00:00:00, 2010-07-01 00:00:00, 2011-07-01 00:00:00, 2012-01-01 00:00:00, 2012-07-01 00:00:00, 2013-01-01 00:00:00, 2013-07-01 00:00:00, 2014-01-01 00:00:00, 2014-07-01 00:00:00, 2015-01-01 00:00:00, 2015-07-01 00:00:00, 2016-01-01 00:00:00], ['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Britain', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Euro area', 'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Russia', 'Saudi Arabia', 'Singapore', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine', 'United States', 'Uruguay', 'Venezuela', 'Vietnam']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11], [0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]],
           names=['Date', 'Country'])

In [33]:
bigmac.index.get_level_values(0) # Returns all values in the first index column
bigmac.index.get_level_values(1) # Returns all values in the second index column

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

**The set_names() and sort_index() Methods**

In [34]:
import pandas as pd
bigmac = pd.read_csv('bigmac.csv', parse_dates=['Date'])
bigmac

          Date         Country  Price in US Dollars
0   2016-01-01       Argentina                 2.39
1   2016-01-01       Australia                 3.74
2   2016-01-01          Brazil                 3.35
3   2016-01-01         Britain                 4.22
4   2016-01-01          Canada                 4.14
5   2016-01-01           Chile                 2.94
6   2016-01-01           China                 2.68
7   2016-01-01        Colombia                 2.43
8   2016-01-01      Costa Rica                 4.02
9   2016-01-01  Czech Republic                 2.98
10  2016-01-01         Denmark                 4.32
11  2016-01-01           Egypt                 2.16
12  2016-01-01       Euro area                 4.00
13  2016-01-01       Hong Kong                 2.48
14  2016-01-01         Hungary                 3.08
15  2016-01-01           India                 1.90
16  2016-01-01       Indonesia                 2.19
17  2016-01-01          Israel                 4.29
18  2016-01-01           Japan                 3.12
19  2016-01-01        Malaysia                 1.82
20  2016-01-01          Mexico                 2.81
21  2016-01-01     New Zealand                 3.91
22  2016-01-01          Norway                 5.21
23  2016-01-01        Pakistan                 2.86
24  2016-01-01            Peru                 2.93
25  2016-01-01     Philippines                 2.79
26  2016-01-01          Poland                 2.37
27  2016-01-01          Russia                 1.53
28  2016-01-01    Saudi Arabia                 3.20
29  2016-01-01       Singapore                 3.27
..         ...             ...                  ...
622 2010-01-01       Hong Kong                 1.91
623 2010-01-01         Hungary                 3.86
624 2010-01-01       Indonesia                 2.24
625 2010-01-01          Israel                 3.99
626 2010-01-01           Japan                 3.50
627 2010-01-01          Latvia                 3.09
628 2010-01-01       Lithuania                 2.87
629 2010-01-01        Malaysia                 2.08
630 2010-01-01          Mexico                 2.50
631 2010-01-01     New Zealand                 3.61
632 2010-01-01          Norway                 7.02
633 2010-01-01        Pakistan                 2.42
634 2010-01-01            Peru                 2.81
635 2010-01-01     Philippines                 2.21
636 2010-01-01          Poland                 2.86
637 2010-01-01          Russia                 2.34
638 2010-01-01    Saudi Arabia                 2.67
639 2010-01-01       Singapore                 3.19
640 2010-01-01    South Africa                 2.46
641 2010-01-01     South Korea                 2.98
642 2010-01-01       Sri Lanka                 1.83
643 2010-01-01          Sweden                 5.51
644 2010-01-01     Switzerland                 6.30
645 2010-01-01          Taiwan                 2.36
646 2010-01-01        Thailand                 2.11
647 2010-01-01          Turkey                 3.83
648 2010-01-01             UAE                 2.99
649 2010-01-01         Ukraine                 1.83
650 2010-01-01   United States                 3.58
651 2010-01-01         Uruguay                 3.32

[652 rows x 3 columns]

In [ ]:
big